*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Amatic SC', cursive;
    font-size: 40px;
}

main{
    margin-top: 350px;
    margin-bottom: 250px;
    text-align: center;
}

/* media querie para tablets */
@media (max-width: 768px){
    
    main{
        margin-top: 250px;
        margin-bottom: 250px;
    }
}


/* media querie para mobile */
@media (max-width: 425px){

    main{
        margin-top: 40%;
        margin-bottom: 40%;
    }
}