/* FORM -------------- */

.containerLogin{
  min-height: 413px;
}

.linkOlvidaste{
  text-decoration: none;
  color: black;
}

.linkOlvidaste:hover{
  color: red;
}

.formRegistro {
  text-align: center;
  margin-top: 150px;
  margin-bottom: 20px;
}

.formulario {
    padding: 10px 0;
}

.formFinalizar{
  margin-top: 29px;
}

.cartShow{
  margin-top: 180px;
  text-align: center;
  height: 280px;
}

.nacimiento select {
    font-size: 20px;
}

.nacimiento{
  display: flex;
  justify-content: center;
}

.avatar input{
  width: 370px;

} 

.boton1 {
	background:linear-gradient(to bottom, #8c8c8c 5%, #424242 100%);
	background-color:#8c8c8c;
	border-radius:5px;
	border:1px solid #080808;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-weight:bold;
	padding:8px 16px;
	text-decoration:none;
  text-shadow:0px 1px 0px #00050a;
  margin-top: 10px;
  margin-bottom: 10px;
}

.boton1:hover {
	background:linear-gradient(to bottom, #424242 5%, #8c8c8c 100%);
	background-color:#424242;
}
.boton1:active {
	position:relative;
	top:1px;
}


input[type="file"]  {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
  }

label[for="avatar"] {
	background:linear-gradient(to bottom, #8c8c8c 5%, #424242 100%);
	background-color:#8c8c8c;
	border-radius:5px;
	border:1px solid #080808;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-weight:bold;
	padding:8px 16px;
	text-decoration:none;
	text-shadow:0px 1px 0px #00050a;
  }

label[for="avatar"]:hover {
    background:linear-gradient(to bottom, #424242 5%, #8c8c8c 100%);
    background-color:#424242;
  }
  
label[for="avatar"]:active {
    position:relative;
    top:1px;
  }

/* media querie para tablets */    
@media (max-width: 768px){
   
  .formRegistro {
    margin-top: 130px;
  }
}

/* media querie para mobile */
@media (max-width: 450px){
   
  .formRegistro {
    margin-top: 35px;
  }

  .formRegistro label{
    font-size: 20px;
  }

  .avatar input{
    font-size: 0.8em;
    width: 300px;
  } 

  .nacimiento{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

}
