.cartelExitoso {
    text-align: center;
}

.formLogin{
    text-align: center;
}

.labelblock {
 display: block;
}

.titulo {
    text-align: center;
}

.formulario {
    padding: 10px 0px;
    text-align: center;
}

.formulario a {
text-decoration: none;
color: black;
}


/* media querie para tablets */    
@media (max-width: 768px){
   
    .formLogin {
        margin-top: 140px;
    }

}

/* media querie para mobile */
@media (max-width: 450px){
    
    .formLogin {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .formLogin label, .linkOlvidaste{
        font-size: 20px;
    }

}
