.listaProductos{
   margin-top: 186px;
   
}

.formCarrito{
    display: inline;
    margin-top: 0px; 
    margin-bottom: 0px;
   
}

.listaProductos li{
    list-style: none;
    background-color: lightgrey;
    height: 100px;
    width: 1200px;
    margin-left: 80px;
    margin-bottom: 15px;
}

.agregarProducto{
    position: relative;
    left: 40%;
    margin-bottom: 1%;
}

.productoEnCarro{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.finalizarCompra{
    margin-top: 0px; 
    margin-bottom: 0px;
}

