
    body{
        background: rgb(246, 246, 246);
 }

/* MAIN -------------- */

    .preguntas{
        margin-top: 150px;
        margin-bottom: 20px;
        padding: 10px;
    }

    main h1{
        text-align: center;
    }

    main h3{
        margin: 4% 0% 1% 1%;
    }
    main p, main ol{
        margin: 0% 0% 5% 1%;
    }

    main ol li{
        list-style: lower-alpha;
        margin-left: 2%;
    }


/* media querie para tablets */    
@media (max-width: 768px){

    .preguntas{
        margin-top: 130px;
    }

    main p, main ol{
        margin: 0% 0% 5% 3%;
    }

}

/* media querie para mobile */
@media (max-width: 425px){

    .preguntas{
        margin-top: 20px;
    }

    main ol li{
        margin-left: 5%;
    }

    main h3, main p, main ol li, main a{
        font-size: 28px;
    }

}
