  .formEditar {
    text-align: center;
    margin-top: 150px;
  }

  .formEditar input{ 
    margin-bottom: 30px;
  }

  .avatar input{
    width: 370px;
  } 

  .linkEditar, .linkTusCompras{
    font-weight: bold; 
    text-transform: uppercase; 
    text-decoration: none; 
    color: slategrey;
  }
  
  .linkEditar:hover {
    color: black;
    text-transform: lowercase;
  }

  .linkTusCompras:hover{
    color: black;
    text-transform: lowercase;
  }

/* media querie para tablets */    
@media (max-width: 768px){
 
  .formEditar {
    margin-top: 175px;
    min-height: 705px; 
   }
}

/* media querie para mobile */
@media (max-width: 450px){
 
  .formEditar {
    margin-top: 20px;
  }

  .formEditar label, .formEditar input{
    font-size: 20px;
  }

  .formEditar input{ 
    margin-bottom: 15px;
  }

  .avatar input{
    font-size: 0.8em;
    width: 300px;
  } 

  .formEditar select{
    width: 90%;
  }
}

