.contenedorTusCompras{
    margin-top: 170px;
    min-height: 50vh;
}

.tituloCompras{
    text-align: center; 
}

.contenedorTusCompras li{ 
    list-style: none; 
    margin: 10px; 
    text-align: center;
}

span a{
    text-decoration: none;
    color: black;
}

.productoComprado img{
    width: 12%;    
    border: 1px solid black; 
    border-radius: 5px;
}

/* media querie para tablets */
@media (max-width: 768px){
    
    .contenedorTusCompras{
        margin-top: 150px;
        min-height: 4130px;
    }

}

/* media querie para mobile */
@media (max-width: 450px){

    .contenedorTusCompras{ 
        margin-top: 40px;
        min-height: 2620px;
    }

    .paraBloquear{
        display: none;
    }
}