
body{
    background: rgb(246, 246, 246);
}

main{
    margin-top: 350px;
    margin-bottom: 250px;
    text-align: center;
}

/* media querie para tablets */
@media (max-width: 768px){
    
    main{
        margin-top: 250px;
        margin-bottom: 250px;
    }
}


/* media querie para mobile */
@media (max-width: 425px){

    main{
        margin-top: 40%;
        margin-bottom: 40%;
        padding: 10px;
    }

    main div input{
        margin: 5px;
    }
}