.cartShow{
    margin-top: 170px;
    min-height: 4160px;
}

.tituloCompras{
    text-align: center; 
    text-decoration: underline;
}

.colores{
    border: 2px solid black; 
    margin-top: 30px; 
    margin-left: 5%; 
    margin-right:5%;
    border-radius: 10px; 
    background-image: linear-gradient(to right, #868f96 0%, #596164 100%);
}

.cartShow ul li{
    list-style: none; 
    margin: 10px; 
    padding: 10px; 
   text-align: center;
}

span a{
    text-decoration: none;
    color: black;
}


/* media querie para tablets */
@media (max-width: 768px){
    
    .cartShow {
        margin-top: 150px;
        min-height: 4130px;
    }

}

/* media querie para mobile */
@media (max-width: 450px){

    .cartShow {
        margin-top: 40px;
        min-height: 2620px;
    }

    .paraBloquear{
        display: none;
    }
}