.perfil{
    text-align: center;
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    margin-top: 170px;
}

div .imgAvatarEdit{
    width: 200px;
    border-radius: 50%;
    margin-bottom: 30px;
}

/* media querie para tablets */
@media (max-width: 768px){
    
    .perfil{
        margin-top: 130px;
        margin-bottom: 40px;
        padding: 10px;
    }

    div .imgAvatarEdit{
        width: 150px;
    }
}


/* media querie para mobile */
@media (max-width: 450px){

    .perfil{
        margin-top: 10px;
    }

    .perfil h2, .perfil a{
        font-size: 20px;
    }

    div .imgAvatarEdit{
        width: 100px;
        margin-bottom: 10px;
    }

}