.perfil{
    text-align: center;
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    margin-top: 170px;
}

.siNoHayCompras{
    color: grey;
    margin-top: 10px;
}

.linkEditar{
    margin: 20px;
}

.imgAvatarEdit{
    width:300px; 
    height: 300px; 
    border-radius: 150px; 
    border: 1px solid grey;
}

/* media querie para tablets */
@media (max-width: 768px){
    
    .perfil{
        margin-top: 130px;
    }

    .linkEditar {
        margin: 17px;
    }
}


/* media querie para mobile */
@media (max-width: 450px){

    .perfil{
        margin-top: 10px;
    }

    .perfil h2, .perfil a{
        font-size: 20px;
    }
}