*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Amatic SC', cursive;
    font-size: 40px;
    list-style: none;
    text-decoration: none;
}

body{
    background: rgb(246, 246, 246);
}

a{
    color: white;
}

.contenedor{
    
    display: flex;
    flex-wrap: wrap;
}

.titulo{
    text-align: center;
    margin-top: 11.5%;
}

.lateralizq{
    background: rgba(0,0,0,0.6);
    width: 300px;
    height: 1636px;
    margin-top: 1.5%;
}

.lista{
    text-align: center;
    margin-top: 15%;
}

aside ul, aside li{
    padding: 10%;
}

li a:hover{
    background: white;
    color: rgb(24, 24, 24)
}

main{
    width: 1048px;
}

.productos{
    display: flex;
    flex-wrap: wrap;
    margin-left: 1%;
}

.producto{
    width: 31%;
    margin: 2% 1% 4% 1%;
    height: 350px;
}

.producto img{
    width: 100%;
}

.producto .datos{
    background: rgba(0,0,0,0.6);
    position: relative;
    text-align: center;
    bottom: 35%;
    width: 100%;
    padding:10px;
}

.producto .datos span, .producto .datos a{
    font-size: 25px;
    color: white;
}

.producto .datos a{
    border-radius: 10px;
    border: 1px solid white;
    padding: 2px;
}

.datos a:hover{
    background: white;
    color: rgb(24, 24, 24)
}

footer{
    margin-top: 2%;
}

