    .contenedorContrase単a{
        margin-top: 175px;
        min-height: 67vh;
        text-align: center;
    }

    #email{
        margin-top: 20px;
    }

    .logueate{
        margin-top: 200px;
        text-align: center;
        margin-bottom: 99px;
    }

    .logueateLinks{
        font-weight: bold; 
        text-decoration: none; 
        color: black;
    }

    .logueateLinks:hover{
        color: red;
    }

    .logueate h2{
        margin-top: 10px;
        margin-bottom: 10px;
    }

/* media querie para tablet */
    @media (max-width: 768px){
    
    #email{
        margin-top: 26px;
    }
}

/* media querie para mobile */
@media (max-width: 450px){

    .contenedorContrase単a{
        margin-top: 60px;
        min-height: 38vh;
    }

    .contenedorContrase単a label, .contenedorContrase単a button{
        font-size: 20px;
    }

    .logueate {
        margin-top: 60px;
        margin-bottom: 50px;
    }

}