    *{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
    }

    body{
        background: rgb(246, 246, 246);
    }

/* BANNER ------------ */

    .banner{
        margin-top: 6%;
    }

    .banner img{
        width: 100%;
        margin-top: 5%;
    }

/* SECTION --------------- */

    .error {
        color: red;
        display:none;
    }

    .titulo{
        text-align: center;
    }

    hr{
        width: 25%;
        margin: 1% 0% 1% 37%
    }

    .ofertas{
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 30px;
    }

    .oferta{
        width: 23%;
        margin: 1%;
        height: 385px;
        box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.75);
    }

    .oferta img{
        width: 100%;
    }

    .descuento{
        background: rgba(0,0,0,0.6);
        position: relative;
        text-align: center;
        bottom: 114.5%;
        left: 75%;
        width: 25%;
        padding:10px;
    }

    .oferta .datos{
        background: rgba(0,0,0,0.6);
        position: relative;
        text-align: center;
        bottom: 35%;
        width: 100%;
        padding:10px;
    }

    .botonCarrito{
        display: inline-block;
        position: relative;
        bottom: 25%;
        text-align: center; 
        margin-top: 0px; 
        margin-bottom: 0px;
    }

    .botonCarrito button {
        font-size: 16px;
    }

    .descuento span{
        color: white;
        font-size: 30px;
    }

    .oferta .datos span, .oferta .datos a{
        font-size: 18px;
        color: white;
    }

    .oferta .datos a{
        text-decoration: none;
        border-radius: 10px;
        border: 1px solid white;
        padding: 2px;
    }

    .datos a:hover{
        background: white;
        color: rgb(24, 24, 24)
    }

    .jeans{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        margin-bottom: 30px;
        
    }

    .jean{
        width: 40%;
        height: 900px;
        margin-bottom: 20px;
        box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.75);
    }

    .jean img{
        width: 100%;
    }

    .datos2{
        background: rgba(0,0,0,0.6);
        position: relative;
        text-align: center;
        bottom: 25%;
        width: 100%;
        padding: 15px;
        color: white;
    }

    .datos2 a{
        color: white;
        text-decoration: none;
        border-radius: 10px;
        border: 1px solid white;
        padding: 10px;
    }

    .datos2 a:hover{
        background: white;
        color: rgb(24, 24, 24);
    }

@media (max-width: 1100px){

    .banner{
        margin-top: 8.5%;
    }

    .oferta{
        width: 22%;
        margin-left: 2%;
        height: 297px;
    }

    .oferta .datos span, .oferta .datos a{
        font-size: 12px;
    }

    .oferta .datos{
        bottom: 40%;
    }

    .botonCarrito button {
        font-size: 10px;
    }

    .descuento{
        bottom: 125%;
    }

    .jean{
        height: 725px;
    }

}

@media (max-width: 768px){

    .banner{
        margin-top: 12%;
    }

    .oferta{
        width: 35%;
        margin-left: 10%;
        height: 333px;
    }

    .oferta:nth-child(3){
        display: none;
    }

    .oferta:nth-child(4){
        display: none;
    }


    .descuento{
        bottom: 120%;
    }

    .oferta .datos span, .oferta .datos a {
        font-size: 16px;
    }

    .descuento span{
        font-size: 25px;
    }

    .datos2{
        bottom: 30%;
        padding: 12px;
    }

    .datos2 span, .datos2 a{
        font-size: 25px;
    }

    .datos2 a{
        padding: 0px 5px 0px 5px;
    }

    .jean{
        width: 45%;
        height: 576px;
    }

}

@media (max-width: 450px){

    .banner{
        display: none;
    }

    .destacados{
        margin-top: 5%;
    }

    .ofertas{
        margin-top: 5%;
    }

    .oferta{
        width: 90%;
        margin: 5%;
        height: 502px;
    }

    .oferta .datos span, .oferta .datos a {
        font-size: 20px;
    }

    .botonCarrito button {
        font-size: 18px;
    }

    .descuento{
        bottom: 115%;
        left: 75%;
    }

    .jean, .remera{
        width: 90%;
        margin: 5%;
    }

    .jean {
       height: 675px;
    }

}


